<html>
    <head>
         <title>
            Opal Kale | Home
        </title>
        <meta content="Opal Kale's personal page" name='description' />
        <link href='{{url_for('static', filename='style.css')}}' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Codystar:300,400' rel='stylesheet' type='text/css'>
    </head>
    <body id='home'>

        <div id='all_content'>
            <div id='container'>
                <div class="circular-image"></div>
                <h1> 
                    Hey, my name is Opal
                </h1>
                <p>
                    I am a junior at <a href='http://www.cs.berkeley.edu/' target='_'>Berkeley</a>, where I study Computer Science. 
                    I'm particularly interested in artificial intelligence and algorithms. 
                </p>
                <p>
                    I grew up in New Jersey and in my free time I enjoy traveling, watching movies, and aerial acrobatics. 
                    I hang out at <a href="http://en.wikipedia.org/wiki/Casa_Zimbabwe">Casa Zimbabwe</a>.
                    To contact me, email me at <a href="mailto:opal.kale@gmail.com">opal.kale@gmail.com</a>. 
                    Here's my <a href="http://github.com/opalkale">Github</a> and
                    <a href="http://www.linkedin.com/pub/opal-kale/54/47b/107">LinkedIn</a>.
                </p>
                <p>
                    This site is written in Python / Flask and hosted on Heroku. 
                    The full source is hosted <a href="https://github.com/opalkale/personalsite">here</a>.
                </p>
            </div>
        </div>
    </body>
</html> 

