<html>
    <head>
        <title>
            Opal Kale | {{title}}
        </title>
        <meta content="Opal Kale's personal page" name='description' />
        <link href='stylesheets/application.css' rel='stylesheet' type='text/css' />
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' type='text/javascript'></script>
        <script src='/application.js' type='text/javascript'></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34881072-1']);
            _gaq.push(['_trackPageview']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    
    </head>
    <body id='home'>

        <div id='all_content'>
            <div id='container'>
            <h1 style = "font-family:arial;", "text-align:center">     
                Hey, my name is Opal.
            </h1>
            <p>
                I'm a New Jersey native, currently  studying Computer Science at 
                <a href='http://www.cs.berkeley.edu/' target='_'>Berkeley</a>.
                In my free time, I enjoy traveling, watching movies, and hanging at 
                <a href='http://en.wikipedia.org/wiki/Casa_Zimbabwe' target='_'>CZ</a>, my new home. I also dabble in aerial acrobatics.
            </p>
    </body>
</html> 

