<html>
    <head>
         <title>
            Opal Kale
         <meta name="description" content="Junior at Cal studying CS. Welcome to my personal homepage.">
         <meta name="keywords" content="Opal Kale">
        </title>
        <meta content="Opal Kale's personal page" name='description' />
        <link href='{{url_for('static', filename='style.css')}}' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Codystar:300,400' rel='stylesheet' type='text/css'>
    </head>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" type="image/png" href="http://www.opalkale.com/favicon.png" />
    <body id='home'>

        <div id='all_content'>
            <div id='container'>
                <div class="circular-image"></div>
                <h1> 
                    Hey, my name is Opal 
                </h1>
                <p>
                    I am a junior at <a href='http://www.cs.berkeley.edu/' target='_'>Berkeley</a>, where I study Computer Science. 
                    I'm particularly interested in artificial intelligence and algorithms. 
                </p>
                <p>
                    I grew up in New Jersey and in my free time I enjoy traveling, watching movies, and exercising in the form of aerial acrobatics. 
                    I hang out at <a href="http://en.wikipedia.org/wiki/Casa_Zimbabwe">Casa Zimbabwe</a>.
                    To contact me, shoot me an email at <a href="mailto:opal.kale@gmail.com">opal.kale@gmail.com</a>. 
                    Here are my <a href="http://github.com/opalkale">Github</a>,
                    <a href="http://www.linkedin.com/pub/opal-kale/54/47b/107">LinkedIn</a>,
                    and <a href="http://stackoverflow.com/users/1924125/opal">Stack Overflow</a> accounts.
                </p>
                <p>
                    This site is written in Python / Flask and hosted on Heroku. 
                    The full source is hosted <a href="https://github.com/opalkale/personalsite">here</a>.
                </p>
            </div>
        </div>
    </body>
</html> 

